
.edit_here
{
	/* TODO:edit here */

}

.loginbtn
{
	background-color: rgb(3, 199, 90) !important;
	border-radius: 5px !important;
	font-size: 15px !important;
	font-weight: normal !important;
	background-repeat: no-repeat !important;
	background-size: auto auto !important;
}

